.nav-link {
  color: bisque;
}

#header {
  background: rgb(127, 140, 182);
  background: linear-gradient(
    0deg,
    rgba(127, 140, 182, 1) 12%,
    rgba(54, 221, 228, 1) 53%,
    rgba(67, 223, 255, 1) 83%
  );
}
